body{
  margin: 0px;
  padding: 0px;
  background: black;
  color: white;
}

.container{
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav{
  display: flex;
  gap: 20px;
  font-size: 30px;
 
}


